# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=key_goes_here

# Supabase
NEXT_PUBLIC_SUPABASE_URL=url_goes_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=key_goes_here
SUPABASE_SERVICE_ROLE_KEY=key_goes_here

# Public site URL
# Use https://travel-nextjs-typescript-tailwind-m.vercel.app in production.
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# RapidAPI, Hotels API
RAPIDAPI_KEY=key_goes_here

# Firebase client
FIREBASE_CLIENT_API_KEY=key_goes_here
FIREBASE_CLIENT_AUTH_DOMAIN=key_goes_here
FIREBASE_CLIENT_PROJECT_ID=key_goes_here
FIREBASE_CLIENT_STORAGE_BUCKET=key_goes_here
FIREBASE_CLIENT_MESSAGING_SENDER_ID=key_goes_here
FIREBASE_CLIENT_APP_ID=key_goes_here

# Stripe Payments
# More info: https://stripe.com/docs/payments/accept-a-payment
STRIPE_SECRET_KEY=key_goes_here

# Stripe Terminal/CLI
STRIPE_INTERNAL_WEBHOOK_SECRET=key_goes_here
